<!DOCTYPE html>
<html>
<head>
	<style>
body {
  background: #555;
}

.content {
  max-width: 500px;
  margin: auto;
 
  padding: 10px;
}
</style>
	<title>comment</title>
</head>
<body>

<h1>Add comment</h1> 

	<a href="/user/seepost">Back</a> |
	<a href="/logout">logout</a> 
	<br>
	<br>
<div class="content">
<form method="post" >
	<table border="0" width="300px">
		<tr>
			<td width="35%">Place Name</td>
			<td width="2%">:</td>
			<td><%=pname%>"</td>
		</tr>
		<tr>
			<td>Country</td>
			<td>:</td>
			<td><%=pcountry%></td>
		</tr>
		<tr>
			<td>Travel Medium</td>
			<td>:</td>
			<td><%=pmedium%>"</td>
		</tr>
		<tr>
			<td>Cost</td>
			<td>:</td>
			<td><%=pcost%>"</td>
		</tr>
		<tr>
			<tr><img src='../assets/server/<%=pimage%> ' alt='error' width='800' height='400'></tr>
			<td>Add comment</td>
			<td>:</td>
			<td><input type="text" name="comment" value="<%=pcomment%>"></td>
			<td><input type="submit"  name="update" value="submit" /></td>
		</tr>
	</table>
</form>
</div>

</body>
</html>